@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    text-align: center;
    min-height: 100vh;
    overflow-x: hidden;
    /* background: linear-gradient(90deg, rgba(6,4,47,1) 0%, rgba(10,10,116,1) 100%, rgba(2,0,36,1) 100%); */
}

.wrapper{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  .wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: rgb(205, 45, 45);
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 80px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }


  /* navbar css */
  ul{
    margin: 0;
    padding: 0;
}
.navbar{
    position: absolute;
    width: 100%;
    height: 50px;
    background: linear-gradient(184deg, rgba(47,4,4,1) 0%, rgba(164,25,25,1) 100%, rgba(2,0,36,1) 100%);
    padding-top: 25px;
    z-index: 6;
}

.navbar h3{
    margin: 0;
    display: inline-block;
    position: absolute;
    left: 0;
    color: white;
    font-size: 30px;
    padding-left: 30px;
    font-weight: 1000;
    bottom: 22px;
    /* border: 1px solid white; */
}

.nav_bar{
    position: absolute;
    right: 60px;
}

.navbar ul li{
    display: inline-block;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding-left: 30px;
    font-weight: 600;
}

.navbar ul li a:hover{
    text-shadow: 0 0 20px white;
    color: rgb(26, 214, 26);
}


/* slideshow on homepage */
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1600px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.slideshow-container img{
  height: 400px;
}

/* homepage login/register button  */
.btn{
    background-color:rgb(205, 45, 45);
    margin: 40px;
    width: 150px;
    height: 70px;
    border-radius: 35px;
    border: 0;
  }
  
  .btn:hover{
    background-color:rgb(188, 43, 43);
  }
  
  .btn a{
      text-decoration: none;
      color: white;
      font-size: 20px;
      padding: 30px;
      font-weight: 600;
  }
  .btn a:hover{
      text-shadow: 0 0 20px white;
      color: black;
  }


  .maindiv{
    width: 100%;
    height: 100vh;
    text-align: center;
    z-index: 1;
}

.leftdiv{
    width: 49%;
    position: absolute;
    align-items: center;
    z-index: 2;
}
.rightdiv{
    width: 49%;
    position: absolute;
    left: 50%;
    align-items: center;
    z-index: 1;
}
.fa-solid{
    padding: 100px;
    padding-top: 200px;
    z-index: 5;
}

form{
    margin-top: 100px ; 
    text-align: center;
    
 }
 
 input{
     display: block;
     width: 350px;
     height: 40px;
     margin: auto;
     border: none;
     outline: none;
     font-size: 20px;
     border-bottom: 1px solid white;
     background: transparent;
     padding: 15px;
     color: white;
 }
 
 .signup{
     width: 350px;
     height: 40px;
     font-size: 20px;
     background-color: blue;
     border: none;
     border-radius: 20px;
     color: white;
     margin-top: 30px;
 }
 .signup:hover{
     background-color: rgb(91, 91, 237);
 }

 .otherLogin{
    height: 40px;
    font-size: 15px;
    background-color: red;
    border: none;
    border-radius: 25px;
    color: white;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.login-text{
    color: white;
}

.otherLogin a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.otherLogin:hover{
    background-color: rgb(173, 82, 82);
}
 
 form h1{
     margin-top: 60px;
     margin-bottom: 30px;
     color: white;
     padding-top: 30px;
 }
 
 ::placeholder{
     color: white;
 }
 
 .heading{
    position: absolute;
    left: 20px;
    top: 60px;
}

.PerInfo{
    width: 90%;
    height: 400px;
    color: white;
    background: linear-gradient(90deg, rgba(6,4,47,1) 0%, rgba(10,10,116,1) 100%, rgba(2,0,36,1) 100%);
    position: absolute;
            top: 200px;
            left: 0;
            right: 0; 
            margin: auto;
            border: 2px solid white;
            border-radius: 40px;
}

.heading{
    position: absolute;
    left: 20px;
    top: 60px;
}

.csp{
    opacity: 0.3;
    display: flex;
    flex-direction: column;
    width: 50%;
      height: 1000px;
      background-color: rgba(107,119,141,0.28);
      top: 200px;   
  }

.AssignEvent{
    width: 90%;
    height: 800px;
    color: white;
    background: linear-gradient(90deg, rgba(6,4,47,1) 0%, rgba(10,10,116,1) 100%, rgba(2,0,36,1) 100%);
    position: absolute;
            top: 620px;
            left: 0;
            right: 0; 
            margin: auto;
            border: 2px solid white;
            border-radius: 40px;
}

.personalInfo{
    width: 90%;
    position: absolute;
    right:0;
    left: 0;
    margin: auto;
    top: 100px;
}

.PerInfo h2{
    margin-top: 30px;
}

.PerInfo table, th, td {
    padding: 8px;
    font-size: 20px;
}


.AssignEvent h2{
    margin-top: 50px;
}

.ad{
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: 900;
    background-color: blue;
    border: none;
    border-radius: 100%;
    color: white;
}

.ad:hover{
  background-color: rgb(91, 91, 237);
}

.add{
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: 900;
    background-color: blue;
    border: none;
    border-radius: 100%;
    color: white;
    position: absolute;
    right:30px;
    top: 30px;
}
.add:hover{
    background-color: rgb(91, 91, 237);
}
h2.addH3{
    margin-top: 40px;
}
.addH3{
    position: absolute;
    right: 100px;
    top: 0;
}

.assignEventTable{
    width: 90%;
    position: absolute;
    right:0;
    left: 0;
    margin: auto;
    top: 120px;
    padding: 30px;
}

.assignEventTable-tr td{
    border: 2px solid white;
    border-collapse: collapse;
    padding: 30px;
}

.assignEventTable-tr th{
    border: 2px solid white;
    border-collapse: collapse;
    padding: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding:10px;
  width: auto;
  color: white;
  border: 20px solid rgba(164,25,25,1);
}

.grid-container > div {
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
  height: 400px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}


.item4 {
  grid-column-start: 4;
  grid-column-end: 5;
}

.box img{
  height: 310px;
  width: 310px;
}

.zoom {
  transition: transform .3s;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  border-radius: 30px;
  border: 3px solid rgba(164,25,25,1);
}

.fontawsMain {
  color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  padding:10px;
  width: auto;
  background: linear-gradient(184deg, rgba(47,4,4,1) 0%, rgba(164,25,25,1) 100%, rgba(2,0,36,1) 100%);
}

.fontawsMain h1{
  margin-bottom: 0;
  grid-column-start: 1;
  grid-column-end: 4;
}

.fontaws1{
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 40px;
  padding-top: 0;
}

.fontaws2{
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 40px;
  padding-top: 0;
}

.fontaws3{
  grid-column-start: 3;
  grid-column-end: 4;
  padding: 40px;
  padding-top: 0;
}
.para-about{
  font-size: 25px;
  line-height: 35px;
  padding: 20px;
}



.textarea{
  border-radius: 20px;
}

.report-form{
  border: 3px solid white;
  padding: 50px;
  width: 40%;
  display: inline-block;
}

.report-form h1{
  margin-top: 10px;
}

.report-body{
  margin: auto;
}
