*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(116, 5, 101);
    color: white;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: sans-serif;
    justify-content: center;
}

nav ul{
    list-style-type: none;
}

.gameContainer{
   
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;

}
.box{
    border: 2px solid black;
    font-size: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    cursor: pointer;
    background-color: rgb(226, 197, 253);
}

.info{
    font-size: 25px;
    color: black;
    background-color: yellow;
    font-weight: bolder;

}
.info:hover{
    background-color: aqua;
}
.gameInfo{
    padding: 0 34px;
    font-family: Arial, Helvetica, sans-serif;
}
.gameInfo h1{
    font-size: 2rem;
}
.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
#reset{
    margin: 0 23px;
    padding: 6px 14px;
    background-color: rgb(221, 177, 221);
    border-radius: 10px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 15px;
}
#reset:hover{
    background-color: bisque;
}

.line{
    background-color: rgb(187, 47, 157);
    width: 0;
    position: absolute;
    height: 3px;
    transition: width 1s ease-in-out;
}

@media screen and (max-width:950px){
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.2rem;
    }
    .container{
        grid-template-rows: repeat(3,17vw);
        grid-template-columns: repeat(3,17vw);
    }
    
}
