*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    font-family: Montserrat;
    background: linear-gradient(#2b1055,#7597de);
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo{
    color: white;
    font-weight: 1000;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}



header ul{
  display: flex;
  justify-content: center;
  align-items: center;  
}

header ul li{
    list-style: none;
    margin-left: 20px;
    
}

header ul li a{
    text-decoration: none;
    color: white;
    padding: 6px 15px ;
}

header ul li a:hover,
header ul li a.active{
background: white;
color: #2b1055;
border-radius: 20px;
}

img{
    z-index: -1;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 100;
} */

.section-img{
    position: absolute;
    top:0px;
    left:0;
    width: 100%;
    height: 900px;
    object-fit: cover;
    pointer-events: none;
}


section img#moon{
    mix-blend-mode: screen ;
}

section img#mountains_front{
    
    z-index:10;

}

/* section img#mountains_behind{
    
    z-index:10;

} */

#text{
position: absolute; 
right: -50px;
color: white;
white-space: nowrap ;
font-size: 7.5vw;
z-index: 9;
}

#btn{
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background: white;
    color: #2b1055 ;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

.sec1{
    position: relative;
    margin-top: 185px;
    padding: 100px;
    /* padding-top: 220px; */
    background: #1c0522;
}

.sec1 h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: white;
}

.sec1 p{
    font-size: 1.2em;
    color: white;
}